

.header-action{
    display: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 25px;
    z-index: 4;

        background-color: rgb(255, 136, 0);
}

.container{
    padding-inline: 16px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle-btn{
  font-size: 3rem;
}

.nav-toggle-btn.active .open,
.nav-toggle-btn .close{
  display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close{
  display: block;
}

.navbar{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: wheat;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}


.navbar.active {
  visibility: visible;
  height: 224px;
  transition-duration: 0.5s;

  background-color: beige;
}

/* En escritorio el menú siempre visible */
@media (min-width: 768px) {
  .navbar {
    display: block;
    position: static;
    height: auto;
    visibility: visible;
    background: transparent;
  }
  .nav-toggle-btn {
    display: none;
  }
}

.navbar-link{
    color: var(--black), blueviolet;
    font-family: var(), Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: var(--fw-700);
    text-decoration: uppercase;
    padding: 10px 15px;
}