*{
    background-color: rgb(8, 6, 158);
    color: aqua;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-2);
}

.stats{ padding-block: 0;}

.stats :is(.container, .stats-list){
    display: grid;
}

.stats .container{ gap: 30px; }

.stats-list{ gap: 30px; } 

.stats-card{
    text-align: center;
    padding-inline: 50px;
}

.stats-card .card-title{
    color: var(--smoky-black);
    font-size: var(--fs-l);
}

.stats-card .card-text{
    font-size: var(--fs-9);
    font-weight: var(--fw-600);
}

.stats-banner{
    position: relative;
    height: 380px;
    border-radius: var(--radius-60) 0px;
    overflow: hidden;

    border: solid red 4px;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    background-color: var(--yellow-green);
    font-size: 30px;
    padding: 20px;
    border-radius: var(--radius-circle);
    animation: pulse 2s ease infinite;
}

@keyframes pulse{
    0% { box-shadow: 0 0 0 0 rebeccapurple; }
    100% { box-shadow: 0 0 0 20px transparent; }
} 